<style>
      :host{
        --my-bg-color:white;
      }

      .capsLockAlert{
        display: none;
        font-size: 12px;
        font-family: 'Open Sans',sans-serif;
      }
      .capsLockAlert img{
        margin-right: 5px;
      }
      .capsLockAlert p{
        /*display: inline;*/
        MARGIN-TOP: -20PX;
        MARGIN-LEFT: 30PX;
      }

      .shape{
        position: absolute;
      }

      #forgotPasswordModal{
        background-color: #fff;
        box-shadow: 0px 0px 23px #888888;
        outline: none;
        z-index: 103;
        position: fixed;
        top: 208.203px;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        left: 272.977px;
        box-sizing: border-box;
        max-height: 516px;
        max-width: 1360px;
        display: none;
        padding: 15px;
      }

      #forgotPasswordModalEmpty,#passwordReset{
        position: fixed;
        background-color: #323232;
        color: #f1f1f1;
        height: 60px;
        min-width: 320px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        border-radius: 2px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        cursor: default;
        text-align: center;
        line-height: 30px;
        bottom: 45px;
        left: 45px;
        display: none;
      }

      #notifyUser{
        position: fixed;
        background-color: #323232;
        color: #f1f1f1;
        height: 60px;
        min-width: 320px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
        border-radius: 2px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        cursor: default;
        text-align: center;
        line-height: 30px;
        bottom: 45px;
        left: 45px;
        display: none;
      }

      #no, #yes{
      justify-content: center;
      position: relative;
      border: none;
      min-width: 5.14em;
      margin: 0 0.29em;
      outline-width: 0;
      border-radius: 3px;
      cursor: pointer;
      z-index: 0;
      padding: 0.7em 0.57em;
      font-family: 'Open Sans', sans-serif;
      background-color: #006599;
      color: #FFFFFF;
      text-transform: none;
      font-family: 'Open Sans', sans-serif;
      /*float: right;*/
      }
      #no{
        background-color: #fff;
        color: #006599;
      }
      /*.containerLogin{
        margin-top: 45px;
        position: relative;
      }*/


      form{
        max-width: 320px;
      }
        input[type=email],
        input[type=password] {
          width: 300px;
          padding: 6px 20px;
          margin: 24px 0 18px;
          display: block;
          background-color: var(--my-bg-color);
          border: none;
          border-bottom: 1px solid #ccc;
          box-sizing: border-box;
          font-family: 'Open Sans',sans-serif;
          color: var(--my-font-color);
          /*color: green;*/

        }
        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: var(--my-font-color);
          font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            font-family: 'Open Sans', sans-serif;
          }
          :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
             color:    var(--my-font-color);
             opacity:  1;
          }
          ::-moz-placeholder { /* Mozilla Firefox 19+ */
             color:    var(--my-font-color);
             opacity:  1;
          }
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
             color:   var(--my-font-color);
          }
          ::-ms-input-placeholder { /* Microsoft Edge */
             color:    var(--my-font-color);
}

#signIn {
  background-color: #eaeaea;
  font-family: 'Open Sans',sans-serif;
  color: #a8a8a8;
  padding: 14px 20px;
  margin: 1em 0 2em 0;
  border: none;
  width: 300px;
  display: block;
  background-image: url(../../images/arrow-orange.svg);
  background-repeat: no-repeat;
  background-position: 61% center;
  padding-right: 17%;
  /*float: right;*/
}
input:focus{
    outline: none;
}

#flytxt-icon{
  margin-right: 96px;
}

.rememberMe{
  display: block;
}

/*#forgotPasswordModal{
background-color: #fff;
box-shadow: 0px 0px 23px #888888;
outline: none;
z-index: 103;
position: fixed;
top: 208.203px;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-weight: 400;
left: 272.977px;
box-sizing: border-box;
max-height: 516px;
max-width: 1360px;
display: none;
padding: 15px;
}

#forgotPasswordModalEmpty,#passwordReset{
position: fixed;
background-color: #323232;
color: #f1f1f1;
height: 60px;
min-width: 320px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
border-radius: 2px;
font-size: 14px;
font-family: 'Open Sans', sans-serif;
cursor: default;
text-align: center;
line-height: 30px;
bottom: 45px;
left: 45px;
display: none;
}

#notifyUser{
position: fixed;
background-color: #323232;
color: #f1f1f1;
height: 60px;
min-width: 320px;
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
border-radius: 2px;
font-size: 14px;
font-family: 'Open Sans', sans-serif;
cursor: default;
text-align: center;
line-height: 30px;
bottom: 45px;
left: 45px;
display: none;
}

#no, #yes{
justify-content: center;
position: relative;
border: none;
min-width: 5.14em;
margin: 0 0.29em;
outline-width: 0;
border-radius: 3px;
cursor: pointer;
z-index: 0;
padding: 0.7em 0.57em;
font-family: 'Open Sans', sans-serif;
background-color: #006599;
color: #FFFFFF;
text-transform: none;
font-family: 'Open Sans', sans-serif;
/*float: right;*/
}
#no{
background-color: #fff;
color: #006599;
}
.containerLogin{
margin-top: 45px;
position: relative;
}
.root{
padding-top: 75px;
margin-left: -10px;
}

/*form{
max-width: 320px;
}
input[type=email],
input[type=password] {
  width: 300px;
  padding: 6px 20px;
  margin: 24px 0 18px;
  display: block;
  background-color: var(--my-bg-color);
  border: none;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  font-family: 'Open Sans',sans-serif;
  color: #333;
}
::-webkit-input-placeholder {
  color: #7F7F7F;
  font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
  }
#signIn {
  background-color: #eaeaea;
  font-family: 'Open Sans',sans-serif;
  color: #a8a8a8;
  padding: 14px 20px;
  margin: 1em 0 2em 0;
  border: none;
  width: 300px;
  display: block;
  background-image: url(../../images/arrow-orange.svg);
  background-repeat: no-repeat;
  background-position: 61% center;
  padding-right: 17%;
}
input:focus{
    outline: none;
}*/

#flytxt-icon{
  margin-right: 96px;
}

.rememberMe{
  display: block;
  /*float: right;*/
  margin-left: 200px;
  margin-bottom: 20px;
  font-family: 'Open Sans',sans-serif;
  font-size: 0.7em;
  color: var(--my-font-color);

}

.containerl {
  position: relative;
  margin-left: 0;
  left: 100px;
}

.forgotPassword {
  display: block;
  text-align: center;
  color: var(--my-font-color);
  text-decoration: none;
  font-family: 'Open Sans',sans-serif;
  font-size: 10pt;

}
/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  .forgotPassword {
    display: block;
    float: none;
  }

}

.hexagon {
  position: fixed;
  margin-left: 100px;
  margin-top: -10px;
  width: 274px;
  height: 29.44em;
  border-radius: 1em/ .5em;
  background: var(--my-bg-color);
  transform: rotate(30deg);
  z-index: -2;
}

.hexagon:before,
.hexagon:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}

.hexagon:before {
  transform: rotate(60deg);
}

.hexagon:after {
  transform: rotate(-60deg);
}



.containerl {
  position: relative;
  margin-left: 0;
  left: 100px;
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
  .forgotPassword {
    display: block;
    float: none;
  }

}

.hexagon {
  position: fixed;
  margin-left: 100px;
  margin-top: -10px;
  width: 274px;
  height: 29.44em;
  border-radius: 1em/ .5em;
  background: var(--my-bg-color);
  transform: rotate(30deg);
  z-index: -2;
}

.hexagon:before,
.hexagon:after {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}

.hexagon:before {
  transform: rotate(60deg);
}

.hexagon:after {
  transform: rotate(-60deg);
}
</style>
